
main .portafolio .galeria{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main .portafolio .galeria .fotos{
    width: 30%;
    margin-bottom:90px;
}

main .portafolio .galeria .fotos img{
    width: 100%;
    height:210px;
    border-radius: 30%;
}
main .portafolio .galeria .fotos img:hover{
    opacity:.6;
    cursor: pointer;
}
